*.swp
*~

css/bootstrap-responsive.css
css/bootstrap-responsive.min.css
css/bootstrap.css
css/bootstrap.min.css
css/codemirror.css
js/bootstrap.js
js/bootstrap.min.js
js/codemirror.js
js/d3.min.js
js/lua.vm.js
js/lua.js
lua/cosy/
lua/dkjson.lua
lua/sha1.lua

